[submodule "LibreOffice"]
	path = LibreOffice
	url = https://github.com/LibreOffice/core.git
[submodule "glabels-qt"]
	path = glabels-qt
	url = https://github.com/j-evins/glabels-qt.git
[submodule "breeze-icons"]
	path = freedesktop/breeze
	url = https://github.com/KDE/breeze-icons
[submodule "oxygen-icons"]
	path = freedesktop/oxygen
	url = https://github.com/KDE/oxygen-icons
